@model IEnumerable<BibliotecaUNAPEC.Models.Ciencia>

@{
    ViewData["Title"] = "Ciencias";
}

<h1>Ciencias</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nueva</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
            <td>@Html.DisplayFor(modelItem => item.Estado)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Eliminar esta ciencia?');">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>