@model BibliotecaUNAPEC.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignaturaTopografica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignaturaTopografica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoBibliografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoBibliografia.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciencia.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idioma.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AñoPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AñoPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
